.forma {
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  color:white;
  background-color: rgb(214, 13, 13);
  border-radius: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin:10px;
}
