<h2>Consumo JSON https://scratchya.com.ar/vue/datos.php</h2>
<div *ngIf="articulos != null; else espera">
  <table border="1">
    <tr>
      <td>Codigo</td>
      <td>Descripcion</td>
      <td>Precio</td>
    </tr>
    <tr *ngFor="let art of articulos">
      <td>{{ art.codigo }}</td>
      <td>{{ art.descripcion }}</td>
      <td>{{ art.precio }}</td>
    </tr>
  </table>
</div>

<h2>Consumo JSON https://api.covid19api.com/summary</h2>
<div *ngIf="paises != null; else espera">
  <table border="1">
    <tr>
      <td>Pais</td>
      <td>Total de casos</td>
      <td>Total de muertos</td>
    </tr>
    <tr *ngFor="let pais of paises.Countries">
      <td>{{ pais.Country }}</td>
      <td>{{ pais.TotalConfirmed }}</td>
      <td>{{ pais.TotalDeaths }}</td>
    </tr>
  </table>
</div>

<ng-template #espera>Esperando 🐥 datos... ⏳</ng-template>
