<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/proyectos">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quienes">Quiénes Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto">Contacto</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<h1 style="text-align: center">Ejercicio App</h1>

<div class="container">
  <form>
    <input
      type="text"
      name="nombre"
      [(ngModel)]="nombre"
      placeholder="Digite Nombres"
    /><br/><br/>
    <input
      type="text"
      name="apellido"
      [(ngModel)]="apellido"
      placeholder="Digite Apellidos"
    /><br/><br/>
    <input
      type="text"
      name="cargo"
      [(ngModel)]="cargo"
      placeholder="Digite Cargo"
    /><br/><br/>
    <input
      type="submit"
      name="registrar"
      (click)="registrarUsuario()"
      class="btn btn-danger"
    /><br />
  </form>

  <br />

  <p *ngIf="registrado; else sinRegistrar">
    {{ mensaje }} con el nombre de {{ nombre }} {{ apellido }} y tiene el cargo
    de
    <span [ngStyle]="{ color: cargo == 'director' ? 'red' : 'blue' }">{{
      cargo
    }}</span>
    uso ngClass retificamos color cuando es cantante:
    <span [ngClass]="{ paraCantantes: cargo == 'cantante' }">{{ cargo }}</span>
  </p>

  <!-- No carga por defecto -->
  <ng-template #sinRegistrar>
    <p>Nadie registrado</p>
  </ng-template>

  <hr />

  <ul>
    <li *ngFor="let entrada of entradas; let i = index">
      <span style="color: tomato">
        {{ entrada.titulo }}
      </span>
      . Entrada {{ i + 1 }}
    </li>
  </ul>
</div>

<hr/>
<!-- Desde este componente principal gestionamos el enrutamiento -->
<router-outlet></router-outlet>

<!--
<div class="container">
  <div class="row">
    <div class="col">
      <div *ngFor="let empleado of empleados; let i=index">
        {{i+1}} {{ empleado.nombre }} {{ empleado.apellido }} {{ empleado.cargo }} ${{ empleado.salario }}
      </div>
    </div>
  </div>
</div>
-->
