<!-- <h1>{{ title }}</h1> -->

<!-- El uso de ? da a conocer que puede ser un valor opcional -->
<!--
<h1>{{ product?.title }}</h1>
<p>{{ product?.price }}</p>
<img src={{ product.images }} alt=""> esta es la opcion larga
<img [src]="product.images[0]" alt="">
-->

<!-- Mostrar en caso que hay datos o en caso de que no -->
<!-- Asegurando que si existen datos -->
<!-- <ng-template></ng-template> -->
<ng-container *ngIf="product">
    <h2>{{ product.title }}</h2>
    <p>$ {{ product.price }}</p>
    <img [ngSrc]="product.images[0]" width="640" height="480">
</ng-container>
 
<ng-container *ngIf="!product">
    Producto no registrado
</ng-container>