button {
    width: 100px;
    background-color: black;
    color: #FFFF;
    border: .15em solid tomato;
    border-radius: 5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.5em;
    line-height: 2em;
    cursor: pointer;  
}

button:hover {
    background-color: tomato;
}