<p>Nombre empleado: {{ nombre }}</p>

<p>Apellido empleado: {{ apellido }}</p>

<p>Edad empleado: {{ edad < 18 ? "Menor de edad" : "Mayor de edad" }}</p>

<p>Empresa empleado: {{ empresa.value }}</p>

<p>Genero sexo : {{ genero }}</p>

Itroduce la empresa: <input type="text" #empresa (keyup)="0" [disabled]="habilitacionCuadro">

Introduce el genero: <input type="text" [(ngModel)]="genero"> <!-- importar el ngModel -->

<br/><br/>

<!--<input type="button" value="Dale!" (click)="llamaEmpresa(empresa.value)" />-->

{{ textoDeRegistro }}

<br/>

<!--Registrado: <input type="checkbox" id="registro" [checked]="usoRegistrado" (click)="setUsuarioRegistrado()">-->

Registrado: <input type="radio" name="nRegistro" value="si" id="registro" [checked]="usoRegistrado" (click)="setUsuarioRegistrado($event)">
No Registrado: <input type="radio" name="nRegistro" value="no" (click)="setUsuarioRegistrado($event)">

{{ getRegistroUsuario() }}