<button mat-raised-button color="primary" (click)="openDialogCustom()">
  Abrir Dialogo 1
</button>

<button mat-raised-button color="accent" (click)="openDialogCustom2()">
  Abrir Dialogo 2
</button>

<button
  mat-raised-button
  color="war"
  (click)="openDialogWithTemplate(template1)"
>
  Abrir Dialogo con Template 1
</button>

<button
  mat-raised-button
  color="war"
  (click)="openDialogWithTemplate(template2)"
>
  Abrir Dialogo con Template 2
</button>

<ng-template #template1>
  <h2 mat-dialog-title>Podemos tener un template form, table etc...</h2>
  <mat-dialog-content class="mat-typography">
    <p>Contenido....</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>
      Install
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #template2>
  <h2 mat-dialog-title>Podemos tener un template form, table etc...</h2>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="formGroup">
      <mat-form-field>
        <input type="text" matInput placeholder="name" formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="lastName"
          formControlName="lastname"
        />
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="onSave()">Save</button>
    <button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>
      close
    </button>
  </mat-dialog-actions>
</ng-template>
