<div>
  <h1>Administración de artículos</h1>
  <div class="login-box0">
    <table border="1" *ngIf="hayRegistros(); else sinarticulos">
      <tr>
        <td>Codigo</td>
        <td>Descripcion</td>
        <td>Precio</td>
        <td>Borrar</td>
        <td>Seleccionar</td>
      </tr>

      <tr *ngFor="let articulo of articulos">
        <td>{{ articulo.codigo }}</td>
        <td>{{ articulo.descripcion }}</td>
        <td>{{ articulo.precio }}</td>
        <td>
          <button
            (click)="eliminarArticulo(articulo.codigo)"
            class="custom-btn btn-5"
          >
            Borrar
          </button>
        </td>
        <td>
          <button
            (click)="obtenerArticuloPorId(articulo.codigo)"
            class="custom-btn btn-7"
          >
            Seleccionar
          </button>
        </td>
      </tr>
    </table>
  </div>

  <ng-template #sinarticulos>
    <p>No hay articulos.</p>
  </ng-template>

  <!-- Agrega un mensaje de error si no hay registros -->
  <!-- <p *ngIf="!hayRegistros()">No hay registros para mostrar</p> -->

  <div class="login-box">
    <form>
      <div class="user-box">
        <input type="number" [(ngModel)]="articuloForm.codigo" name="codigo" />
        <label>Código: </label>
      </div>

      <div class="user-box">
        <input
          type="text"
          [(ngModel)]="articuloForm.descripcion"
          name="descripcion"
        />
        <label>Descripción: </label>
      </div>

      <div class="user-box">
        <input type="number" [(ngModel)]="articuloForm.precio" name="precio" />
        <label>Precio: </label>
      </div>

      <button
        *ngIf="guardandoNuevoArticulo"
        (click)="guardarArticulo()"
        class="custom-btn btn-14"
      >
        Guardar
      </button>
      <button
        *ngIf="obtenerArticuloPorId"
        (click)="actualizarArticulo()"
        class="custom-btn btn-15"
      >
        Actualizar
      </button>
    </form>
  </div>
</div>
